@import "../partials/shapes";
@import "../partials/css3";

.pos_rel{position:relative;width:30px; height: 30px; border-radius:0 4px 4px 0; background: #36bbd9;} 


.pos_rel span{
	display:block;
	position: absolute;
}

.pos_rel .icon1{
	@include triangle(20px,down,#fff);
	left: 5px;
	top: 11px;
}

.pos_rel .icon2{
	@include triangle(20px,down,#36bbd9);
	left: -10px;
	top: -15px;
}

.pos_rel .icon3,
.pos_rel .icon4{
	width: 5px;
	height: 5px;
	background: #36bbd9;
	@include rotate(45deg);
}
.pos_rel .icon3{
	left: -10px;
	top: -13px;
}

.pos_rel .icon4{
	left: 6px;
	top: -13px;
}