.pos_rel {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  background: #36bbd9; }

.pos_rel span {
  display: block;
  position: absolute; }

.pos_rel .icon1 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  left: 5px;
  top: 11px; }

.pos_rel .icon2 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #36bbd9;
  left: -10px;
  top: -15px; }

.pos_rel .icon3,
.pos_rel .icon4 {
  width: 5px;
  height: 5px;
  background: #36bbd9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.pos_rel .icon3 {
  left: -10px;
  top: -13px; }

.pos_rel .icon4 {
  left: 6px;
  top: -13px; }
